@font-face{
	font-family:'DroidSans_Regular';
	src: url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.eot');
	src: url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Normal.svg#DroidSans_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'DroidSans_Bold';
	src: url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.eot');
	src: url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSans/v1/Droid_Sans_Bold.svg#DroidSans_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'DroidSerif_Regular';
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.eot');
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Normal.svg#DroidSerif_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'DroidSerif_Regular_Italic';
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.eot');
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Italic.svg#DroidSerif_Regular_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'DroidSerif_Bold';
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.eot');
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold.svg#DroidSerif_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'DroidSerif_Bold_Italic';
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.eot');
	src: url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/DroidSerif/v1/Droid_Serif_Bold_Italic.svg#DroidSerif_Bold_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Lobster_Regular';
	src: url('https://fonts.engageone.video/Lobster/v1/Lobster.eot');
	src: url('https://fonts.engageone.video/Lobster/v1/Lobster.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/Lobster/v1/Lobster.woff2') format('woff2'),
		 url('https://fonts.engageone.video/Lobster/v1/Lobster.woff') format('woff'),
		 url('https://fonts.engageone.video/Lobster/v1/Lobster.ttf') format('truetype'),
		 url('https://fonts.engageone.video/Lobster/v1/Lobster.svg#Lobster_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'NotoSansJapanese_Thin';
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Thin.eot');
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Thin.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Thin.woff') format('woff'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Thin.ttf') format('truetype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Thin.svg#NotoSansJapanese_Thin') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'NotoSansJapanese_Regular';
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Regular.eot');
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Regular.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Regular.woff') format('woff'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Regular.ttf') format('truetype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Regular.svg#NotoSansJapanese_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'NotoSansJapanese_Black';
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Black.eot');
	src: url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Black.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Black.woff') format('woff'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Black.ttf') format('truetype'),
		 url('https://fonts.engageone.video/NotoSansJapanese/v1/Noto_Sans_Japanese_Black.svg#NotoSansJapanese_Black') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Regular';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal.svg#OpenSans_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Regular_Italic';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Normal_Italic.svg#OpenSans_Regular_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Light';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light.svg#OpenSans_Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Light_Italic';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Light_Italic.svg#OpenSans_Light_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Bold';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold.svg#OpenSans_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Extra_Bold';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_ExtraBold.svg#OpenSans_Extra_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSans_Bold_Italic';
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.eot');
	src: url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSans/v1/Open_Sans_Bold_Italic.svg#OpenSans_Bold_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSansCondensed_Light';
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.eot');
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light.svg#OpenSansCondensed_Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSansCondensed_Light_Italic';
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.eot');
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Light_Italic.svg#OpenSansCondensed_Light_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'OpenSansCondensed_Bold';
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.eot');
	src: url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.woff2') format('woff2'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.woff') format('woff'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.ttf') format('truetype'),
		 url('https://fonts.engageone.video/OpenSansCondensed/v1/Open_Sans_Condensed_Bold.svg#OpenSansCondensed_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PoiretOne_Regular';
	src: url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.eot');
	src: url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.woff2') format('woff2'),
		 url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.woff') format('woff'),
		 url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PoiretOne/v1/Poiret_One.svg#PoiretOne_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Regular';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Rg.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Rg.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Rg.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Rg.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Rg.svg#PrecisionSans_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Regular_Italic';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_RgIt.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_RgIt.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_RgIt.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_RgIt.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_RgIt.svg#PrecisionSans_Regular_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Light';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Lt.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Lt.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Lt.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Lt.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Lt.svg#PrecisionSans_Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Light_Italic';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_LtIt.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_LtIt.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_LtIt.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_LtIt.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_LtIt.svg#PrecisionSans_Light_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Medium';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Md.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Md.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Md.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Md.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Md.svg#PrecisionSans_Medium') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Medium_Italic';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_MdIt.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_MdIt.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_MdIt.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_MdIt.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_MdIt.svg#PrecisionSans_Medium_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Bold';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Bd.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Bd.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Bd.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Bd.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_Bd.svg#PrecisionSans_Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'PrecisionSans_Bold_Italic';
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_BdIt.eot');
	src: url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_BdIt.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_BdIt.woff') format('woff'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_BdIt.ttf') format('truetype'),
		 url('https://fonts.engageone.video/PrecisionSans/v1/PrecisionSans_BdIt.svg#PrecisionSans_Bold_Italic') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Slabo_Regular';
	src: url('https://fonts.engageone.video/Slabo/v1/Slabo.eot');
	src: url('https://fonts.engageone.video/Slabo/v1/Slabo.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.engageone.video/Slabo/v1/Slabo.woff2') format('woff2'),
		 url('https://fonts.engageone.video/Slabo/v1/Slabo.woff') format('woff'),
		 url('https://fonts.engageone.video/Slabo/v1/Slabo.ttf') format('truetype'),
		 url('https://fonts.engageone.video/Slabo/v1/Slabo.svg#Slabo_Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

